includes:
- extension.neon
- rules.neon
rules:
#- MLL\Utils\PHPStan\Rules\ThrowableClassNameRule
- MLL\Utils\PHPStan\Rules\VariableNameIdToIDRule
- MLL\Utils\PHPStan\Rules\MissingClosureParameterTypehintRule
parameters:
  level: max
  paths:
  - src
  - tests
  tmpDir: .build/phpstan
  # Install https://plugins.jetbrains.com/plugin/7677-awesome-console to make those links clickable
  # TODO restore when we can require a newer PHPStan version
  editorUrl: '%%relFile%%:%%line%%'
  editorUrlTitle: '%%relFile%%:%%line%%'
  # As long as we support multiple PHP versions, there will be some dead spots
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
  # This is a library, so it should be extendable
  - '#Unsafe usage of new static.*#'
  # Not in older PHPUnit versions
  - '#Attribute class PHPUnit\\Framework\\Attributes\\DataProvider does not exist\.#'
  # Allows assert() calls to assist IDE autocompletion
  - message: '#Call to function assert\(\) with true.* will always evaluate to true\.#'
  excludePaths:
    - src/Microplate/Scalars/Row8.php
    - src/Microplate/Scalars/Row16NoJ.php
    - src/Microplate/Scalars/Row16.php
    - src/FluidXPlate/Scalars/FluidXBarcode.php
    - src/FluidXPlate/Scalars/FrameStarBarcode.php
