rules:
- MLL\Utils\PHPStan\Rules\NoAssignmentInIfRule
# TODO gradually enable those rules
#- MLL\Utils\PHPStan\Rules\ThrowableClassNameRule
#- MLL\Utils\PHPStan\Rules\VariableNameIdToIDRule
parameters:
  disallowedFunctionCalls:
  - function: 'compact()'
    message: 'makes refactoring code hard'
    errorTip: 'use standard array syntax instead'
  # https://github.com/itsgoingd/clockwork?tab=readme-ov-file#logging
  - function: 'clock()'
    message: 'remove debugging code'
