# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  composer-validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
          extensions: mbstring
          php-version: 8.3

      - run: composer validate --strict

  static-code-analysis:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          # Not including 7.4, as PHPStan is hard to get working there
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
        dependencies:
          - lowest
          - highest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
          extensions: mbstring
          php-version: "${{ matrix.php-version }}"

      # PHP 8.0 needs larastan 1.x (Laravel 8 + Symfony 5.x) since Symfony 6.x dropped PHP 8.0 support
      - if: matrix.php-version == '8.0'
        run: composer require --dev --no-update "larastan/larastan:^1.0.4"

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - run: vendor/bin/phpstan analyse --configuration=phpstan.neon

  tests:
    name: "Tests - PHP ${{ matrix.php-version }}, ${{ matrix.dependencies }}"

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
        dependencies:
          - lowest
          - highest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
          extensions: mbstring
          php-version: "${{ matrix.php-version }}"

      - if: "! startsWith(matrix.php-version, 8)"
        run: composer remove --dev --no-update rector/rector mll-lab/graphql-php-scalars spaze/phpstan-disallowed-calls

      # Remove enum tests for PHP < 8.1 (enums require PHP 8.1+)
      - if: matrix.php-version == '7.4' || matrix.php-version == '8.0'
        run: rm -rf tests/Enum

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - run: vendor/bin/phpunit

  code-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          coverage: pcov
          extensions: mbstring
          php-version: 8.3

      - uses: ramsey/composer-install@v3

      - run: vendor/bin/phpunit --coverage-clover=.build/logs/clover.xml

      # Not using v4 due to the breaking changes described in https://github.com/codecov/codecov-action/releases/tag/v4.0.0
      - uses: codecov/codecov-action@v3
